.content-container{
    display: flex;
    gap: 20px;
}
.first-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.second-container{
    width: 70%;
}

.firstly{
    justify-content: flex-start;
    gap: 20px;
}

.all-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

#addPicture1, #addPicture{
    border: none;
    background-color: #f8f8f8;
    font-family: 'Inter';
    font-weight: bold;
}

.img{
    width: 24px;
    height: 24px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 60%;
}