@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.ttf') format('truetype');
    font-style: italic;
}

body{
    height: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #ddd;

    position: sticky;
    top: 0;
    z-index: 10;

    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    padding: 0;
}

.logo h1{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    color: #000000;
}

.logo img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.shopping_bag {
    width: 25px;
    height: 25px;
    opacity: 0px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.right-elems {
    display: flex;
    justify-content: space-between;
   
}

.login {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;   
    color: #000000;
}

.login:hover {
    text-decoration: underline;
}

.register {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    
    
    border: 2px solid;
    border-radius: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: #000000;
}

.register:hover {
    text-decoration: underline;
}

.link{
    text-decoration: none;
}

.body{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.category_container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
  
.category_icon {
    width: 25px;
    height: 20px;
}
  
.category_text {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
}

.category_text:hover {
    text-decoration: underline;
}


.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.table{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    width:100%;
    gap:18px;
    flex-wrap: wrap;
}

.good_card{
    width: 24%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    text-align: center;
    position: relative;
}

.good_card p{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: bold;
}

.good_pic{
    width: 100%;
    border-radius: 40px;
    aspect-ratio: 1/1;
}

.good_price{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-weight: 400;
}

.good_price p{
    font-weight: 400;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
    border-top: 2px solid #ddd;
    font-family: 'Inter';
}
  
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.footer_left {
    display: flex;
    flex-direction: column;
}
  
.footer_logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}
  
.footer_rights {
    margin-top: 10px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
  
.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.footer_link {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}
  
.footer_link:hover {
    text-decoration: underline;
}

.category_container .dropdown-content a.active {
    background-color: white;
}
