.body{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}
.search{
    display: flex;
    justify-content: space-around;
    width: 95%;
    background-color: #f8f8f8;
    border-radius: 10px;
    align-items: center;
}

.search input{
    height: 40px;
    font-family: 'Inter';
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 15px;
}

p{
    font-family: 'Inter';
    font-weight: bold;
}

.search p{
    margin-bottom: 10px;
}

.usersList{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 40px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

.usersList-header, .usersList-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.usersList-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.usersList-header p{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    border:1px solid black;
}

.usersList-item p{
    text-align: center;
}

.userId{
    width: 10%;
}
.userEmail, .userName{
    width: 25%;
}

.userCity, .userOrder{
    width: 20%;
}

.search-icon{
    width: 30px;
    height: 30px;
}

