.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
    border-top: 2px solid #ddd;
    font-family: 'Inter';
    position: absolute;
    bottom: 0;
    width: calc(100% - 60px);
    background-color: white;
}
  
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.footer_left {
    display: flex;
    flex-direction: column;
}
  
.footer_logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}
  
.footer_rights {
    margin-top: 10px;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}
  
.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.footer_link {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}
  
.footer_link:hover {
    text-decoration: underline;
}