@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.ttf') format('truetype');
    font-style: italic;
}

body{
    margin: 0;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #ddd;

    position: sticky;
    top: 0;

    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    padding: 0;
}

.logo h1{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    color: #000000;
}

.logo img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.shopping_bag {
    width: 25px;
    height: 25px;
    opacity: 0px;

    padding-top: 12px;
}

.right-elems {
    display: flex;
    justify-content: space-between;
   
}

.login {
    margin: 0;
    padding-top: 11px;
    width: 140px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;   
    color: #000000;
}

.login:hover {
    text-decoration: underline;
}

.register, .cabinet {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    
    
    border: 2px solid;
    border-radius: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: #000000;
}

#cabinet{
    display: none;
}

.register:hover, .cabinet:hover {
    text-decoration: underline;
}

.link{
    text-decoration: none;
}


.body{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.category_container {
    display: flex;
    align-items: flex-start;
    
    padding-bottom: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    align-self: flex-start;
}
  
.category_icon {
    width: 25px;
    height: 20px;
}
  
.category_text {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
}

.category_text:hover {
    text-decoration: underline;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: auto;
}

.filter .dropdown-content a.active {
    background-color: white;
}

.dropdown-content {
    display: none; 
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: max-content;
}

.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    z-index: 10;
}

.dropdown.active > .dropdown-content {
    display: block;
}

.category_container {
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.table{
    margin-top: 20px;
    display:flex;
    justify-content: flex-start;
    width:100%;
    gap:18px;
    flex-wrap: wrap;
}

.good_card{
    width: 24%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    text-align: center;
}

.good_card p{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: bold;
}

.good_pic{
    width: 100%;
    border-radius: 40px;
    aspect-ratio: 1/1;
}

.good_price{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-weight: 400;
}

.good_price p{
    font-weight: 400;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
    border-top: 2px solid #ddd;
    font-family: 'Inter';
}
  
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.footer_left {
    display: flex;
    flex-direction: column;
}
  
.footer_logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}
  
.footer_rights {
    margin-top: 10px;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}
  
.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.footer_link {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}
  
.footer_link:hover {
    text-decoration: underline;
}

.category_container .dropdown-content a.active {
    background-color: white;
}

.aside {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-family: 'Inter';
    font-weight: bold;
}

aside{
    position: fixed;
    top: 0;
    right:0;
    width: 25%;
    background-color: white;
    border: 1px solid black;
    height: 100vh;
    padding-left:20px;
    padding-right:20px;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartItem{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.cartItem img{
    width: 19%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.cartContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom:10px;
    padding-top:10px;
}

h3{
    align-self: end;
}

.checkout{
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight:bold;
    font-family: 'Inter';
  }

.textInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textInfo p{
    margin:0;
}

.imgTextContent{
    display:flex;
    gap:20px;
    align-items: center;
}

h4{
    font-size:larger;
    margin-bottom: 0px;
}

.inputCheck{
    accent-color:#c7c7c7;
}

.itemCount{
    display: flex;
    align-items: center;
    gap: 20px;
}