.leftContent, .rightContent, .userInfo, .addressInfo, .paymentInfo, .userInfo div, .addressInfo div{
    display: flex;
    flex-direction: column;
}

.userInfo, .addressInfo{
    gap:20px;
}

html{
    font-family: 'Inter';
    font-weight: normal;
}

.body{
    justify-content: center;
    padding-top: 50px;
    gap:50px;
}

.leftContent{
    width: 40%;
}

.rightContent{
    width:30%;
}

.goodsParams, .deleteSelected{
    display: flex;
    align-items: center;
}

.goodsParams{
    justify-content: space-between;
}

.terms div, .deliveryType div, .paymentInfo div{
    display: flex;
    flex-direction: row;
    gap:20px;
}

input[type="text"]{
    height: 40px;
    font-family: 'Inter';
    font-weight: bold;
    border:1px solid black;
    border-radius: 10px;
}

a{
    color:black;
}

label{
    font-weight: bold;
}

.confirmButton{
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight:bold;
    font-family: 'Inter';
    width:50%;
    align-self: center;
    margin-top:40px;
}

.promo button{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight:bold;
    font-family: 'Inter';
    display: none;
}

.orderGoods{
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.selectAll{
    display:flex;
}

.selectAll input{
    accent-color: #c7c7c7;
}

.goodsParams div{
    gap:20px;
}

.goodsParams label{
    font-weight: normal;
}

.textInfo p{
    margin:0;
    font-weight: bold;
}

.memory{
    color:#c7c7c7;
}

.textInfo{
    gap:0px;
}